  <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/footer_logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                Have an eye to God in every word you sing. he cometh in the clouds of heaven. Praise is to express approval in worship to your Lord and Savior. I hope you want to praise the living God and His Son, Jesus Christ, right now: for they are good, and God's mercy and love endures forever and ever.                                .
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://web.facebook.com/pstisrael.oyifioda.1">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                    Useful Links
                            </h3>
                            <ul>
                                <li><a href="/">About</a></li>
                                <li><a href="contact.html"> Contact</a></li>
                                <li><a href="/"> Free quote</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <ul>
                                    <li>Anmoda Ohimini LGA, Benue Nigeria</li>
                                    <li>+2347040605804 </li>
                                    <li><a href="contact.html"> israel.oyifioda@gmail.com</a></li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made by <i class="fa fa-heart-o" aria-hidden="true"></i> Engineer <a href="" target="_blank">Joel Lee</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>