   <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Me</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->


    <!-- about wrap  -->
    <div class="about_wrap_area about_wrap_area2">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/controls.png" alt="">
                        <h3>Early Life</h3>
                        <p>Israel oyifioda popularly known as Israel Oyi was born on 5th may 1995 in Anmoda-oglewu in ohimini local government area of Benue state Nigeria. He is the third child of eleven children of mr John and mrs Christiana Ene Oyifioda  both in Anmoda-oglewu,ohimini local goverment,Benue state Nigeria.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/bar-chart.png" alt="">
                        <h3>CAREER</h3>
                        <p>His love and talent for music  was discovered at a very early stage of his life when he was about seven(7) years old. But this unique music grace was publicly displayed and demonstrated during many church conferences and meetings which is accompanied with signs and wonders. the humble music minister,song writter, and composer emerged with his first album tittled "JESUS OYOYO"; The album jesus oyoyo includes many many music tracks ranging from:Jesus oyoyo, Ojilima(all thanks),Hossana, Oyeikum(my life), Great love with many others</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service_wrap text-center">
                        <img src="img/svg_icon/puzzle.png" alt="">
                        <h3>MORE</h3>
                        <p>The potter Israel understands worship as a River that flows from eternity to eternity therefore no end to Godly worship. stay blessed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
