<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> Pst <br>
                                Israel-Oyi </h3>
                            <p>The Light to my Path..
                            </p>
                            <div class="video_service_btn">
                                <a href="/" class="boxed-btn3">Contact</a>
                                <a href="#downloads" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                    Downloads</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3> Pst<br>
                                Israel-Oyi </h3>
                            <p>Worship in Spirit and Truth </p>
                            <div class="video_service_btn">
                                <a href="/" class="boxed-btn3">Contact</a>
                                <a href="/" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                    Downloads</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Pst <br>
                                Israel-Oyi</h3>
                            <p>Worshiping God Is Our Duty </p>
                            <div class="video_service_btn">
                                <a href="/" class="boxed-btn3">Contact</a>
                                <a href="/" class="boxed-btn3-white"> <i class="fa fa-play"></i>
                                    Downloads</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>

<div class="container" id="downloads">
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="music/Great Love.jpg" class="img-thumbnail img-responsive" alt="Paris"
                    style="object-fit: cover; width:200px; height:200px ">
                <p><strong>Great Love</strong></p>
                <p>Worship Song</p>
                <a href="music/Great Love.mp3"><button class="btn btn-danger" data-toggle="modal"
                        data-target="#myModal"><i class="ti-control-play"></i> Play Song</button></a>
                <a href="music/Great Love.mp3" download="Great Love"> <button class="btn btn-success"
                        data-toggle="modal" data-target="#myModal"><i class="ti-download"></i> Download</button></a>
            </div>
            <hr>
            <hr>
        </div>



        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="music/Hossanna.jpg" class="img-thumbnail img-responsive" alt="Paris"
                    style="object-fit: cover; width:200px; height:200px ">
                <p><strong>Hossanna</strong></p>
                <p>Praise Song</p>
                <a href="music/Hossanna.mp3"><button class="btn btn-danger" data-toggle="modal"
                        data-target="#myModal"><i class="ti-control-play"></i> Play Song</button></a>
                <a href="music/Hossanna.mp3" download="Hossanna"> <button class="btn btn-success" data-toggle="modal"
                        data-target="#myModal"><i class="ti-download"></i> Download</button></a>
            </div>
            <hr>
            <hr>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="music/Oyoyo.jpg" class="img-thumbnail img-responsive" alt="Paris"
                    style="object-fit: cover; width:200px; height:200px ">
                <p><strong>Oyoyo</strong></p>
                <p>Worship Song</p>
                <a href="music/Oyoyo.mp3"><button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i
                            class="ti-control-play"></i> Play Song</button></a>
                <a href="music/Oyoyo.mp3" download="Oyoyo"> <button class="btn btn-success" data-toggle="modal"
                        data-target="#myModal"><i class="ti-download"></i> Download</button></a>
            </div>
            <hr>
            <hr>
        </div>


        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="music/Ojilima.jpg" class="img-thumbnail img-responsive" alt="Paris"
                    style="object-fit: cover; width:200px; height:200px ">
                <p><strong>Ojilima</strong></p>
                <p>Praise Song</p>
                <a href="music/Ojilima.mp3"><button class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i
                            class="ti-control-play"></i> Play Song</button></a>
                <a href="music/Ojilima.mp3" download="Ojilima"> <button class="btn btn-success" data-toggle="modal"
                        data-target="#myModal"><i class="ti-download"></i> Download</button></a>
            </div>
            <hr>
            <hr>
        </div>

        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="music/Oyeyi Kum.jpg" class="img-thumbnail img-responsive" alt="Paris"
                    style="object-fit: cover; width:200px; height:200px ">
                <p><strong>Oyeyi Kum</strong></p>
                <p>Worship Song</p>
                <a href="music/Oyeyi Kum.mp3"><button class="btn btn-danger" data-toggle="modal"
                        data-target="#myModal"><i class="ti-control-play"></i> Play Song</button></a>
                <a href="music/Oyeyi Kum.mp3" download="Oyeyi Kum"> <button class="btn btn-success" data-toggle="modal"
                        data-target="#myModal"><i class="ti-download"></i> Download</button></a>
            </div>
            <hr>
            <hr>
        </div>

    </div>

</div>